# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry

# Virtualenv
.venv/

# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints/

# VSCode / JetBrains / IDE configs
.vscode/
.idea/

# macOS
.DS_Store

# Environment files
.env
.env.*

# Docker artifacts
*.log
docker-compose.override.yml

# Output files
hplc_results.csv
hplc_convergence.png
results.csv

# SQLite DB
hplc_study.db

# Pre-commit cache
.pre-commit-config.yaml~
.pre-commit-hooks.yaml~
.pre-commit/

# Misc
*.bak
*.tmp

#SQLLite db
optuna_storage/
results/

*.pyc
*.so
*.pyo

# Local user files
.local/
.cache/
.bash_history
poetry.toml

data/
